/* Font */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400;500;700&display=swap");
/* Icons */
@import url("https://css.gg/css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS 1 Code", sans-serif;
  background: var(--color-dark);
  color: var(--color-white);
}

button {
  background: var(--color-primary);
}

input {
  background: var(--color-gray);
  color: var(--color-dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
